<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{406,1},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{598,1},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{790,1},{152,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{406,155},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{598,155},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{790,193},{152,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{208,161},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{1,170},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{400,309},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{592,309},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{784,385},{152,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{193,315},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{1,324},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{385,463},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{193,469},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{1,478},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{577,463},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{769,577},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{385,617},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{193,623},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{1,632},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{577,617},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{769,731},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{385,771},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{193,777},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{1,786},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{577,771},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{769,885},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{385,925},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{193,931},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{1,940},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{577,925},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{769,1039},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{385,1079},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{193,1085},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{1,1094},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{577,1079},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{769,1193},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{385,1233},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{193,1239},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BACK_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{1,1248},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BACK_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,196}</string>
                <key>spriteSourceSize</key>
                <string>{158,196}</string>
                <key>textureRect</key>
                <string>{{208,1},{158,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{577,1233},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{769,1347},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{385,1387},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{193,1393},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Joker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,190}</string>
                <key>spriteSourceSize</key>
                <string>{151,190}</string>
                <key>textureRect</key>
                <string>{{193,1701},{151,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Joker_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,190}</string>
                <key>spriteSourceSize</key>
                <string>{151,190}</string>
                <key>textureRect</key>
                <string>{{539,1695},{151,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>KA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{1,1402},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>KB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{577,1387},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>KC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{769,1501},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>KD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{385,1541},{152,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{193,1547},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{1,1556},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{539,1541},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{152,190}</string>
                <key>textureRect</key>
                <string>{{731,1655},{152,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,205}</string>
                <key>spriteSourceSize</key>
                <string>{167,205}</string>
                <key>textureRect</key>
                <string>{{1,1},{167,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{960,1853}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:184b0760f63e5aa8d097ef5c90d69510:a1685182ab1824ab5479a9952db82a17:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
