<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgScoreboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,125}</string>
                <key>spriteSourceSize</key>
                <string>{450,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{450,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot-draw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{744,95},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot-ho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{576,106},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot-hoa-do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{732,19},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot-hoa-vang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{738,38},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot-rong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{711,19},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>history_grid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,121}</string>
                <key>spriteSourceSize</key>
                <string>{20,121}</string>
                <key>textureRect</key>
                <string>{{453,106},{20,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shadow_trai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,137}</string>
                <key>spriteSourceSize</key>
                <string>{22,137}</string>
                <key>textureRect</key>
                <string>{{605,95},{22,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text-dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,16}</string>
                <key>spriteSourceSize</key>
                <string>{61,16}</string>
                <key>textureRect</key>
                <string>{{644,77},{61,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text-tie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{711,1},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text-tiger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,16}</string>
                <key>spriteSourceSize</key>
                <string>{45,16}</string>
                <key>textureRect</key>
                <string>{{707,77},{45,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_dragon_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,26}</string>
                <key>spriteSourceSize</key>
                <string>{189,26}</string>
                <key>textureRect</key>
                <string>{{453,51},{189,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-32}</string>
                <key>spriteSize</key>
                <string>{256,48}</string>
                <key>spriteSourceSize</key>
                <string>{1398,786}</string>
                <key>textureRect</key>
                <string>{{453,1},{256,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_tie_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,24}</string>
                <key>spriteSourceSize</key>
                <string>{92,24}</string>
                <key>textureRect</key>
                <string>{{644,51},{92,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_tiger_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,25}</string>
                <key>spriteSourceSize</key>
                <string>{150,25}</string>
                <key>textureRect</key>
                <string>{{453,79},{150,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>scoreboard.png</string>
            <key>size</key>
            <string>{756,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7814367a44a05718c659173624657498:8ddefaa4f5e6d2dc491122b6fa59c055:f5f11636fd87e0c16f842a128ed8c317$</string>
            <key>textureFileName</key>
            <string>scoreboard.png</string>
        </dict>
    </dict>
</plist>
